<Heading Level="HeadingLevel.H2">Cards</Heading>

@code {
    IEnumerable<ILink> links = new[]
    {
        new AnchorLink { Text = "Cards", LinkUrl = "/cards" },
        new AnchorLink { Text = "Alerts", LinkUrl = "/alerts" },
        new AnchorLink { Text = "Badges", LinkUrl = "/badges" }
    };

    IEnumerable<ILink> singleLink = new[]
    {
        new AnchorLink{ Text = "Home", LinkUrl = "/", IsStretched = true }
    };

    string containerClasses = "col-12 col-sm-6 col-lg-3 h-100 mb-3";
    string imageUrl = "https://images.unsplash.com/photo-1472214103451-9374bd1c798e?w=640";
}


<div class="row">
    <div class="@containerClasses">
        <Card Title="Simple Card" Subtitle="Sample card usage"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Simple Card" Subtitle="Sample card usage" Text="This card demonstrates a simple use-case for the simplest way of using the Card component." Links="this.links"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Card with link" Subtitle="Link sample" Text="This card shows you how you can use stretched links on a card." Links="this.singleLink"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Card with Image" Text="This card shows how to use images with cards." ImageUrl="@imageUrl"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Card with Image" Text="This card shows how to set the image at the bottom of the card." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Bottom"></Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Featured Card" Text="This card shows you how you can use headers with your cards."></Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Another Card" Text="This card shows you how you can use the HeaderTemplate to customize the header of your card.">
            <HeaderTemplate><Heading Level="HeadingLevel.H1">@context</Heading></HeaderTemplate>
        </Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Card Header" Text="This is a card demonstrating both header and footer" Footer="Card Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card TextAlignment="TextAlignment.Left" Title="Text Alignment, Left" Text="This card demonstrates how to align text to the left."></Card>
    </div>
    <div class="@containerClasses">
        <Card TextAlignment="TextAlignment.Center" Title="Text Alignment, Center" Text="This card demonstrates how to center align text."></Card>
    </div>
    <div class="@containerClasses">
        <Card TextAlignment="TextAlignment.Right" Title="Text Alignment, Right" Text="This card demonstrates how to align text to the right."></Card>
    </div>
    <div class="@containerClasses">
        <Card TextColor="NamedColor.White" BackgroundColor="NamedColor.Dark" Title="Image Overlay" Text="This card demonstrates how to use overlays on an image." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Overlay"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Primary" TextColor="NamedColor.White" Header="Header" Title="Primary background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Primary" Header="Header" Title="Primary border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Secondary" TextColor="NamedColor.White" Header="Header" Title="Secondary background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Secondary" Header="Header" Title="Secondary background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Success" TextColor="NamedColor.White" Header="Header" Title="Success background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Success" Header="Header" Title="Success border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Danger" TextColor="NamedColor.White" Header="Header" Title="Danger background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Danger" Header="Header" Title="Danger border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Warning" TextColor="NamedColor.White" Header="Header" Title="Warning background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Warning" Header="Header" Title="Warning border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Info" TextColor="NamedColor.White" Header="Header" Title="Info background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Info" Header="Header" Title="Info border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Light" TextColor="NamedColor.Dark" Header="Header" Title="Light background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Light" Header="Header" Title="Light border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Dark" TextColor="NamedColor.White" Header="Header" Title="Dark background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Dark" Header="Header" Title="Dark border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
</div>



<Heading Level="HeadingLevel.H2" MarginTop="Spacing.Five">Card Groups</Heading>

<CardGroup>
    <Card Title="Card title #1" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title #2" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title #3" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title #4" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title #5" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title #6" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
</CardGroup>


<Heading Level="HeadingLevel.H2" MarginTop="Spacing.Five">Card Decks</Heading>
<CardGroup Type="CardGroupType.Deck">
    <Card Title="Card title" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
    <Card Title="Card title" Text="Some meaningless text just for the sake of filling this space up with sample text."></Card>
</CardGroup>

<Heading Level="HeadingLevel.H2" MarginTop="Spacing.Five">Card Columns</Heading>
<CardGroup Type="CardGroupType.Columns">
    <Card Title="Card title that wraps to a new line" Text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></Card>
    <Card Title="Card title" Text="This card has supporting text below as a natural lead-in to additional content." Footer="The footer"></Card>
    <Card ImageUrl="@imageUrl"></Card>
    <Card BackgroundColor="NamedColor.Primary" TextColor="NamedColor.White">
        <BodyTemplate>
            <CardBody>
                <Blockquote>
                    <p>People often say that motivation doesn't last. Well, neither does bathing &mdash; that's why we recommend it daily.</p>
                    <footer class="@ClassNames.BlockQuotes.Footer">Zig Ziglar</footer>
                </Blockquote>
            </CardBody>
        </BodyTemplate>
    </Card>
    <Card>
        <CardBody Title="Card title that wraps to a new line" Text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></CardBody>
    </Card>
    <Card>
        <CardBody Title="Card title" Text="This card has supporting text below as a natural lead-in to additional content."></CardBody>
        <CardFooter>The footer</CardFooter>
    </Card>
    <Card BorderColor="NamedColor.Success">
        <CardHeader>Header</CardHeader>
        <CardBody Title="Success border" Text="Some quick example text to build on the card title and make up the bulk of the card's content."></CardBody>
        <CardFooter>Footer</CardFooter>
    </Card>
</CardGroup>

