@inherits BreadcrumbBase

@code { int ix = 0; }

<nav aria-label="breadcrumb" @attributes="this.Attributes">
    <ol class="@ClassNames.Breadcrumbs.Breadcrumb">
        @foreach(var item in this.Items)
        {
            item.Index = ix;

            <li class="breadcrumb-item @( item.IsActive ? "active" : "")">
                @if (null != this.ItemTemplate)
                {
                    @this.ItemTemplate(item)
                }
                else if (!string.IsNullOrEmpty(item.LinkUrl))
                {
                    <BlazorBootstrap.Components.Link href="@item.LinkUrl" title="@item.Description">@item.Text</BlazorBootstrap.Components.Link>
                }
                else
                {
                    <Span title="@item.Description">@item.Text</Span>
                }
            </li>

            ix++;
        }
    </ol>
</nav>
