@inherits CardBodyBase

    <div @attributes="this.Attributes">
        @if (null != this.TitleTemplate)
        {
            @this.TitleTemplate(this.Title)
        }
        else if (!string.IsNullOrEmpty(this.Title))
        {
            <CardTitle>@this.Title</CardTitle>
        }

        @if (null != this.SubtitleTemplate)
        {
            @this.SubtitleTemplate(this.Subtitle)
        }
        else if (!string.IsNullOrEmpty(this.Subtitle))
        {
            <CardSubtitle>@this.Subtitle</CardSubtitle>
        }



        @if (null != this.TextTemplate)
        {
            @this.TextTemplate(this.Text)
        }
        else if (!string.IsNullOrEmpty(this.Text))
        {
            @foreach (var line in this.Text.Lines())
            {
                <CardText>@line</CardText>
            }
        }


        @if (null != this.LinkSectionTemplate)
        {
            @this.LinkSectionTemplate(this.Links)
        }
        else if (this.Links?.Count() > 0)
        {
            @foreach (var link in this.Links)
            {
                @if (null != this.LinkTemplate)
                {
                    @this.LinkTemplate(link)
                }
                else
                {
                    <Anchor Link="@link" class="@ClassNames.Cards.Link"></Anchor>
                }
            }
        }

        @this.ChildContent
    </div>