@inherits HeadingBase

@switch (this.Level)
{
    case HeadingLevel.H1:
        <h1 @attributes="this.Attributes">@this.ChildContent</h1>
        break;

    case HeadingLevel.H2:
        <h2 @attributes="this.Attributes">@this.ChildContent</h2>
        break;

    case HeadingLevel.H3:
        <h3 @attributes="this.Attributes">@this.ChildContent</h3>
        break;

    case HeadingLevel.H4:
        <h4 @attributes="this.Attributes">@this.ChildContent</h4>
        break;

    case HeadingLevel.H5:
        <h5 @attributes="this.Attributes">@this.ChildContent</h5>
        break;

    case HeadingLevel.H6:
        <h6 @attributes="this.Attributes">@this.ChildContent</h6>
        break;
}