@inherits ColoredBootstrapComponentBase

@if (string.IsNullOrEmpty(this.Url))
{
    <span @attributes="this.Attributes">@this.ChildContent</span>
}
else
{
    <Anchor @attributes="@this.Attributes" OpenInNewTab="@this.OpenInNewTab" Url="@this.Url">@this.ChildContent</Anchor>
}
