@inherits BootstrapComponentBase

@code { int ix = 0; }

<nav aria-label="breadcrumb" @attributes="this.Attributes">
    <ol @attributes="this.ListAttributes">
        @foreach(var item in this.Items)
        {
            item.Index = ix;

            <li class="breadcrumb-item @( item.IsActive ? "active" : "")">
                @if (null != this.ItemTemplate)
                {
                    @this.ItemTemplate(item)
                }
                else if (!string.IsNullOrEmpty(item.Url))
                {
                    <Anchor Link="@item"></Anchor>
                }
                else
                {
                    <Span title="@item.Description">@item.Text</Span>
                }
            </li>

            ix++;
        }
    </ol>
</nav>
