@inherits BootstrapComponentBase

<div @attributes="this.Attributes">
    @if (null != this.HeaderTemplate)
    {
        @this.HeaderTemplate(this.Header)
    }
    else if (!string.IsNullOrEmpty(this.Header))
    {
        <CardHeader>@this.Header</CardHeader>
    }

    <CardContent ImagePosition="@this.ImagePosition" ImageUrl="@this.ImageUrl">
        <BodyTemplate>
            @if (null != this.BodyTemplate)
            {
                @this.BodyTemplate
            }
            else
            {
                <CardBody Parent="@this"></CardBody>
            }
        </BodyTemplate>
        <ImageTemplate>
            @if (null != this.ImageTemplate)
            {
                @this.ImageTemplate(context)
            }
            else
            {
                <CardImage Src="@context" IsOverlay="this.ImagePosition == CardImagePosition.Overlay" MarginY="Spacing.Auto" />
            }
        </ImageTemplate>
    </CardContent>

    @if (null != this.FooterTemplate)
    {
        @this.FooterTemplate(this.Footer)
    }
    else if (!string.IsNullOrEmpty(this.Footer))
    {
        <CardFooter>@this.Footer</CardFooter>
    }
</div>
