@inherits BootstrapComponentBase

@if (this.IsAnchor && !string.IsNullOrEmpty(this.HeadingId))
{
    <Div id="@this.Id" @onmouseover="this.ContentOnMouseOver" @onmouseout="this.ContentOnMouseOut">
        @this.ChildContent
        <Anchor Id="@this.AnchorId" Url="@($"#{this.HeadingId}")" TextColor="NamedColor.Primary" style="text-decoration: none;" class="@ClassNames.Display.Hidden"><em>#</em></Anchor>
    </Div>
}
else
{
    @this.ChildContent
}
