@inherits BootstrapComponentBase
@implements IMenuItem

<li @attributes="this.Attributes">
    @if (null != this.ChildContent)
    {
        <Anchor Link="@this.Item" class="@ClassNames.Navs.Link">@this.ChildContent</Anchor>
    }
    else
    {
        <Anchor Link="@this.Item" class="@ClassNames.Navs.Link" />
    }
</li>