@inherits ColoredBootstrapComponentBase

<div @attributes="this.Attributes" style="width: @CalculatedWidth" aria-valuemax="@this.MaxValue" aria-valuemin="@this.MinValue" aria-valuenow="@this.Value">@this.ChildContent</div>
