@inherits ColoredBootstrapComponentBase

<div @attributes="this.Attributes" style="width: @CalculatedWidth" aria-valuemax="@this.ValueMax" aria-valuemin="@this.ValueMin" aria-valuenow="@this.Value">@this.ChildContent</div>
