@code {
    IEnumerable<ILink> links = new[]
    {
        new Link { Text = "Cards", Url = "cards", OpenInNewTab = true },
        new Link { Text = "Alerts", Url = "alerts", OpenInNewTab = true },
        new Link { Text = "Badges", Url = "badges", OpenInNewTab = true }
    };

    IEnumerable<ILink> singleLink = new[]
    {
        new Link{ Text = "Home", Url = "./", IsStretched = true }
    };

    string containerClasses = "col-12 col-sm-6 col-lg-3 h-100 mb-3";
    string imageUrl = "https://images.unsplash.com/photo-1472214103451-9374bd1c798e?w=640";

    Spacing headingTopMargin = Spacing.S5;
}


<Heading Level="HeadingLevel.H2">Cards</Heading>
<Paragraph>
    The <code>Card</code> component provides a flexible content container with various different variant options.
</Paragraph>

<DocsSection ComponentName="Card" />


<Heading Id="simple-cards" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@headingTopMargin">Simple Cards</Heading>
<Paragraph IsStretchedLinkContainer="true">
    With a few properties you can create versatile cards. <WikiLink Page="Card" Section="basic-cards" />
</Paragraph>
<div class="row">
    <div class="@containerClasses">
        <Card Title="Simple Card" Subtitle="How to use the Card component" Text="This is a sample of a very simple usage of the Card component."></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Simple Card" Subtitle="Sample card usage" Text="This is a simple card with a few links added to the bottom of the card." Links="this.links"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Card with link" Subtitle="Link sample" Text="This card shows you how you can use stretched links on a card. The entire card will be a link, since cards are by default stretched link containers.">
            <LinkSectionTemplate>
                <Anchor IsStretched="true" Url="/" OpenInNewTab="true">Click me!</Anchor>
            </LinkSectionTemplate>
        </Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Card Header" Text="This is a card demonstrating both header and footer" Footer="Card Footer"></Card>
    </div>
</div>


<Heading Id="images" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@headingTopMargin">Using Images</Heading>
<Paragraph IsStretchedLinkContainer="true">
    You can create cards with images. <WikiLink Page="Card" Section="using-images" />
</Paragraph>
<div class="row">
    <div class="@containerClasses">
        <Card Title="Card with Image" Text="This card shows how to use images with cards." ImageUrl="@imageUrl"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Card with Image" Text="This card shows how to set the image at the bottom of the card." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Bottom"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Image on the Left" Text="This card has the image aligned to the left." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Left"></Card>
    </div>
    <div class="@containerClasses">
        <Card Title="Image on the Right" Text="This card has the image aligned to the right." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Right"></Card>
    </div>
    <div class="@containerClasses">
        <Card TextColor="NamedColor.White" BackgroundColor="NamedColor.Dark" Title="Image Overlay" Text="This card demonstrates how to use overlays on an image." ImageUrl="@imageUrl" ImagePosition="CardImagePosition.Overlay"></Card>
    </div>
</div>

<Heading Id="customizing-with-templates" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@headingTopMargin">Customizing with Templates</Heading>
<Paragraph IsStretchedLinkContainer="true">
    If you need to have more control over the contents on a card, you can use the template parameters to provide your own content.
    <WikiLink Page="Card" Section="customizing-with-templates" />
</Paragraph>
<div class="row">
    <div class="@containerClasses">
        <Card Text="Here is a card that shows how to customize titles with templates supported by the Card component.">
            <TitleTemplate>
                <Heading Level="HeadingLevel.H3" class="@ClassNames.Cards.Title" TextColor="NamedColor.Primary"><b>Custom Titles</b></Heading>
            </TitleTemplate>
            <SubtitleTemplate>
                <Heading Level="HeadingLevel.H4" class="@ClassNames.Cards.Subtitle" TextColor="NamedColor.Secondary"><em>Custom subtitle</em></Heading>
            </SubtitleTemplate>
        </Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Another Card" Text="This card shows you how you can use the HeaderTemplate to customize the header of your card.">
            <HeaderTemplate>
                <CardHeader>
                    <Heading TextColor="NamedColor.Success" Level="HeadingLevel.H1">@context</Heading>
                </CardHeader>
            </HeaderTemplate>
        </Card>
    </div>
    <div class="@containerClasses">
        <Card Header="Custom Body">
            <Blockquote>
                <p>People often say that motivation doesn't last. Well, neither does bathing &mdash; that's why we recommend it daily.</p>
                <footer class="@ClassNames.BlockQuotes.Footer">Zig Ziglar</footer>
            </Blockquote>
        </Card>
    </div>
</div>

<Heading Id="text-alignment" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@headingTopMargin">Text Alignment</Heading>
<Paragraph IsStretchedLinkContainer="true">
    The text in a card can be aligned. <WikiLink Page="Card" Section="text-alignment" />
</Paragraph>
<div class="row">
    <div class="@containerClasses">
        <Card TextAlignment="HorizontalAlignment.Left" Title="Text Alignment, Left" Text="This card demonstrates how to align text to the left."></Card>
    </div>
    <div class="@containerClasses">
        <Card TextAlignment="HorizontalAlignment.Center" Title="Text Alignment, Center" Text="This card demonstrates how to center align text."></Card>
    </div>
    <div class="@containerClasses">
        <Card TextAlignment="HorizontalAlignment.Right" Title="Text Alignment, Right" Text="This card demonstrates how to align text to the right."></Card>
    </div>
</div>

<Heading Id="coloring" IsAnchor="true" Level="HeadingLevel.H3" MarginTop="@headingTopMargin">Coloring</Heading>
<Paragraph IsStretchedLinkContainer="true">
    Cards can use the standard colouring, as both background and border colours. <WikiLink Page="Card" Section="colouring" />
</Paragraph>
<div class="row">
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Primary" TextColor="NamedColor.White" Header="Header" Title="Primary background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Primary" Header="Header" Title="Primary border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Secondary" TextColor="NamedColor.White" Header="Header" Title="Secondary background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Secondary" Header="Header" Title="Secondary border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Success" TextColor="NamedColor.White" Header="Header" Title="Success background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Success" Header="Header" Title="Success border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Danger" TextColor="NamedColor.White" Header="Header" Title="Danger background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Danger" Header="Header" Title="Danger border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Warning" TextColor="NamedColor.White" Header="Header" Title="Warning background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Warning" Header="Header" Title="Warning border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Info" TextColor="NamedColor.White" Header="Header" Title="Info background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Info" Header="Header" Title="Info border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Light" TextColor="NamedColor.Dark" Header="Header" Title="Light background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Light" Header="Header" Title="Light border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BackgroundColor="NamedColor.Dark" TextColor="NamedColor.White" Header="Header" Title="Dark background" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
    <div class="@containerClasses">
        <Card BorderColor="NamedColor.Dark" Header="Header" Title="Dark border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer"></Card>
    </div>
</div>



<Heading Id="card-groups" IsAnchor="true" Level="HeadingLevel.H2" MarginTop="@headingTopMargin">Card Groups</Heading>
<Paragraph IsStretchedLinkContainer="true">
    Group cards together with the <WikiLink Page="CardGroup"><code>CardGroup</code></WikiLink> component. <WikiLink Page="Card" Section="card-groups" />
</Paragraph>
<CardGroup>
    <Card Title="Card title #1" Text="Short text."></Card>
    <Card Title="Card title #2" Text="A bit longer text, just to fill up the space more than in the previous card. This is to demonstrate how cards align in a group." Footer="Footer #2"></Card>
    <Card Title="Card title #3" Footer="Footer #3"></Card>
</CardGroup>


<Heading Id="card-decks" IsAnchor="true" Level="HeadingLevel.H2" MarginTop="@headingTopMargin">Card Decks</Heading>
<Paragraph IsStretchedLinkContainer="true">
    With card decks, a set of cards can share the same size, but they are not attached like in card groups. <WikiLink Page="Card" Section="card-decks" />
</Paragraph>
<CardGroup Type="CardGroupType.Deck">
    <Card Title="Card title #1" Text="Short text."></Card>
    <Card Title="Card title #2" Text="A bit longer text, just to fill up the space more than in the previous card. This is to demonstrate how cards align in a group." Footer="Footer #2"></Card>
    <Card Title="Card title #3" Footer="Footer #3"></Card>
</CardGroup>

<Heading Id="card-columns" IsAnchor="true" Level="HeadingLevel.H2" MarginTop="@headingTopMargin">Card Columns</Heading>
<Paragraph IsStretchedLinkContainer="true">
    Arrange cards into columns that fill up from top to bottom, left to right. <WikiLink Page="Card" Section="card-columns" />
</Paragraph>
<CardGroup Type="CardGroupType.Columns">
    <Card Title="1# Card title that wraps to a new line" Text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></Card>
    <Card Title="2# Card title" Text="This card has supporting text below as a natural lead-in to additional content." Footer="The footer"></Card>
    <Card Title="3#" ImageUrl="@imageUrl"></Card>
    <Card Title="4# Card title that wraps to a new line" Text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.">
    </Card>
    <Card Title="5# Card title" Text="This card has supporting text below as a natural lead-in to additional content." Footer="The footer">
    </Card>
    <Card BorderColor="NamedColor.Success" Header="Header" Title="6# Success border" Text="Some quick example text to build on the card title and make up the bulk of the card's content." Footer="Footer">
    </Card>
</CardGroup>

